[submodule "apps/api-github-actions-demo"]
	path = apps/api-github-actions-demo
	url = https://github.com/PythonistaMX/api-github-actions-demo.git

[submodule "infra/terraform-py271"]
	path = infra/terraform-py271
	url = https://github.com/TU_ORG/terraform-py271.git